{% extends 'luna/default.html' %}

{% block content %}
<h1>luna books - книги о Python</h1>
<p>Знаете ли вы что умение правильно учиться чему-то новому - это самый важный навык?<p/>
<p>Обучение программированию должно быть основано на практике, но необходимо уделять достаточно времени и теоретической
    части. На данный момент для языка программирования Python написано огромное количество учебной литературы, как
на английском так и на русском языках.</p>
    <hr>
<p>Проект luna books призван сделать информацию для Вас более доступной - вы можете скачать книгу абсолютно бесплатно и
безопасно.</p>
{% endblock %}